banque.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.hassani.net/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.hassani.net/soap" targetNamespace="http://www.hassani.net/soap">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.hassani.net/soap">

    <xsd:element name="getCompteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="code" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCompteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="compte" type="tns:compte"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getcomptesRequest">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getComptesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="comptes" type="tns:compte"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="compte">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:long"/>
            <xsd:element name="solde" type="xsd:double"/>
            <xsd:element name="dateCreation" type="xsd:dateTime"/>
            <xsd:element name="state" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCompteResponse">
    <wsdl:part element="tns:getCompteResponse" name="getCompteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompteRequest">
    <wsdl:part element="tns:getCompteRequest" name="getCompteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getComptesResponse">
    <wsdl:part element="tns:getComptesResponse" name="getComptesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getcomptesRequest">
    <wsdl:part element="tns:getcomptesRequest" name="getcomptesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="banqueService">
    <wsdl:operation name="getCompte">
      <wsdl:input message="tns:getCompteRequest" name="getCompteRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCompteResponse" name="getCompteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComptes">
      <wsdl:output message="tns:getComptesResponse" name="getComptesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcomptes">
      <wsdl:input message="tns:getcomptesRequest" name="getcomptesRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="banqueServiceSoap11" type="tns:banqueService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCompte">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCompteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComptes">
      <soap:operation soapAction=""/>
      <wsdl:output name="getComptesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcomptes">
      <soap:operation soapAction=""/>
      <wsdl:input name="getcomptesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="banqueServiceService">
    <wsdl:port binding="tns:banqueServiceSoap11" name="banqueServiceSoap11">
      <soap:address location="http://localhost:8089/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>